<h3>Настройки</h3>

<form class="form" [formGroup]="form">
  <div class="form__group">
    <label for="exclude-counterparty-filter">Фильтрация по названию контрагента:</label>
    <input type="checkbox" id="exclude-counterparty-filter" formControlName="filterByCounterparty" />
  </div>

  <div class="form__group">
    <label for="price-filter">Фильтрация по цене:</label>
    <input type="checkbox" id="price-filter" formControlName="filterByPrice" />
  </div>

  <div class="form__group">
    <label for="bottom-limit-filter">Фильтрация по нижнему лимиту:</label>
    <input type="checkbox" id="bottom-limit-filter" formControlName="filterByBottomLimit" />
  </div>

  <div class="form__group">
    <label for="top-limit-filter">Фильтрация по верхнему лимиту:</label>
    <input type="checkbox" id="top-limit-filter" formControlName="filterByTopLimit" />
  </div>

  <div class="form__group radio-group">
    <label for="not-in-filter-elem-action">Действие при НЕпопадании в фильтр:</label>

    <div class="radio-group__item">
      <input type="radio" id="darken-elem" formControlName="notInFilterElemAction" [value]="NotInFilterElemAction.Darken" />
      <label for="darken-elem">Затемнить элемент</label>
    </div>

    <div class="radio-group__item">
      <input type="radio" id="remove-elem" formControlName="notInFilterElemAction" [value]="NotInFilterElemAction.Remove" />
      <label for="remove-elem">Удалить элемент</label>
    </div>
  </div>
</form>
