<h3>Настройки</h3>

<form class="form" [formGroup]="form">
  <div class="form__group">
    <label for="exclude-counterparty-filter">Фильтрация по названию контрагента:</label>
    <input type="checkbox" id="exclude-counterparty-filter" formControlName="filterByCounterparty" />
  </div>

  <div class="form__group">
    <label for="price-filter">Фильтрация по цене:</label>
    <input type="checkbox" id="price-filter" formControlName="filterByPrice" />
  </div>

  <div class="form__group">
    <label for="amount-filter">Фильтрация по сумме:</label>
    <input type="checkbox" id="amount-filter" formControlName="filterByAmount" />
  </div>
</form>
